.Hero {
    img {
        width: 100%;
        height: auto;
        width: 100%;
        height: 223px;
        border-radius: 25px;
        object-fit: cover;
        margin-bottom: 2rem;
    }
}

.FAQ {
    padding: 0 4rem;
}
